@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <RadzenHeader>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            <RadzenLabel Text="ProfileEditor"></RadzenLabel>
          </div>
          <div class="col-6 text-right"></div>
        </div>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded">
        <RadzenPanelMenu style="height: 100%">
            @if (IsAuthenticated)
            {
                <RadzenPanelMenuItem Text="Profile" Path="/" />
            }
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenFooter>
        <RadzenLabel Text="ProfileEditor, Copyright Ⓒ 2022">
        </RadzenLabel>
    </RadzenFooter>
</RadzenLayout>
@code
{
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; }

    public bool IsAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthState;

        IsAuthenticated = auth.User.Identity.IsAuthenticated;

        if(IsAuthenticated)
        {

        }else
        {

        }
    }
  
}